@import "../variables";
@import '../mixins';

.copyright {
  text-align: center;
  font-weight: 200;
  font-size: 10px;
  padding-bottom: 5px;
}

.links {
  text-align: center;

  a:hover {
    @extend .hover-highlight;
  }
}

a {
  text-decoration: none;
  color: $secondary;
}
