@import '../variables';

.copyright {
  text-align: center;
  font-weight: 200;
  font-size: 10px;
  padding-bottom: 5px;
}

.links {
  text-align: center;

  a {
    text-decoration: none;
    color: $secondary;
    transition: $transition-slow;
    padding: 5px;

    &:hover {
      color: $accent;
    }
  }
}
