@import '../variables';

.form-container {
  max-width: 500px;
  text-align: center;
}

.heading {
  font-family: $font-family-sans-serif;
  text-align: center;
  position: relative;
  font-style: italic;

  .outer-span {
    padding: 0 10px;
    background: $background;
  }

  span::before {
    border-top: 1px solid $secondary;
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    content: "";
    z-index: -1;
  }
}

.form-control {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid $secondary-light;
  border-radius: 0;

  &.invalid {
    border-bottom: 1px solid $primary-error;
  }
}

textarea.form-control {
  min-height: 100px;
}

.submit {
  border-top: 1px solid $primary;
  position: relative;
  margin: 50px 0;
  padding-top: 40px;

  .submit-button {
    font-family: $font-family-sans-serif;
    z-index: 1;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 0;
    border: 15px solid $background;
    background-color: $primary;
    color: $background;
    transition: $transition-fast;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-transform: uppercase;
    cursor: pointer;
    margin: -40px 0 0 -40px;

    &:hover {
      background-color: $accent;
    }

    &:disabled {
      background-color: $secondary;
      opacity: 1;
      cursor: inherit;
    }

  }
}

.accent {
  color: $accent;
}
