@use '../variables';
@use '/node_modules/bulma/sass/utilities/initial-variables';

.navbar-item {
  text-decoration: none;
  color: variables.$secondary;
  font-family: variables.$font-family-sans-serif;
  transition: variables.$transition-slow;

  &:hover {
    color: variables.$accent;
    background-color: inherit;
  }
}

.navbar {
  padding: 10px;
  background-color: variables.$background;

  .navbar-menu {
    background-color: inherit;
  }
}

@media (max-width: initial-variables.$desktop) {
  .navbar {
    .navbar-menu {
      transition: all variables.$fast;
      max-height: 0;
      display: block;
      box-shadow: none;
      overflow: hidden;
      padding: 0;

      &.is-active {
        max-height: 400px;
      }
    }
  }
}
