@import '../variables';

.navbar-item {
  text-decoration: none;
  color: $secondary;
  font-family: $font-family-sans-serif;
  transition: $transition-slow;

  &:hover {
   color: $accent;
    background-color: $background;
  }
}

.navbar {
  padding: 10px;
  background-color: $background;
}
