@import '../variables';
@import '../mixins';

.nav-link {
  text-decoration: none;
  color: $secondary;
  font-family: $font-family-sans-serif;

  &:hover {
   @extend .hover-highlight;
  }
}

.nav {
  padding: 10px;
}
