<h1 class="title">Projects</h1>

<div class="row">
  <div class="col-xs-12 col-md 6 software-col">
    <h2 class="heading">
      Software
    </h2>

    <div class="project"
         *ngFor="let project of projects.software">
      <h4 class="project-title">{{ project.title }}</h4>
      <p>{{ project.summary }}</p>
    </div>

  </div>

  <div class="col-xs-12 col-md 6">
    <h2 class="heading">
      Wood
    </h2>

    <div class="project"
         *ngFor="let project of projects.wood">
      <h4 class="project-title">{{ project.title }}</h4>
      <p>{{ project.summary }}</p>
    </div>

  </div>
</div>
