@import "../variables";
@import '~bulma/sass/utilities/initial-variables';

.heading {
  color: $accent;
  text-align: center;
  font-style: italic;
}

@media (min-width: $tablet) {
  .software-col {
    border-right: 1px solid $secondary-light;
  }
}
