@use '../variables';
@use '/node_modules/bulma/sass/utilities/initial-variables';

.heading {
  color: variables.$accent;
  text-align: center;
  font-style: italic;
}

@media (min-width: initial-variables.$tablet) {
  .software-col {
    border-right: 1px solid variables.$secondary-light;
  }
}
