@import "../variables";

.heading {
  color: $accent;
  text-align: center;
  font-style: italic;
}

.project {
  .project-title {
    cursor: pointer;
    transition: $transition-fast;

    &:hover {
      color: $accent;
    }
  }
}

@media (min-width: $screen-md) {
  .software-col {
    border-right: 1px solid $secondary-light;
  }
}
