@use 'variables';

html {
  background-color: variables.$background;
}

body {
  color: variables.$primary;
  font-family: variables.$font-family-base;
}

.title {
  font-family: variables.$font-family-monospace;
  text-align: center;
  border-bottom: 1px solid variables.$secondary-light;
  padding: 15px;
  font-weight: variables.$font-weight-light;
  color: variables.$secondary;
}

h1,
h2,
h3,
h4,
h5 {
  color: variables.$secondary;
  font-family: variables.$font-family-sans-serif;
}
