// Colors
$primary: #3f3f37;
$secondary: #878472;
$secondary-light: #dbdbdb;
$background: #fffcf2;
$accent: #de541e;

// Fonts
$font-family-base: "Brandon Grotesque";
$font-family-monospace: "Courier new";
$font-family-sans-serif: "Helvetica";
