@use '../../variables';

.project {
  .project-title {
    cursor: pointer;
    transition: variables.$transition-fast;

    &:hover {
      color: variables.$accent;
    }
  }

  .project-details {
    transition: variables.$transition-fast;
    max-height: 0;
    color: variables.$secondary;
    overflow: hidden;

    &.selected {
      max-height: 500px;
    }

    .technologies {
      margin-top: 10px;

      .technologies-heading {
        text-decoration: underline;
      }
    }

    .project-images {
      margin-top: 20px;

      figure {
        overflow: hidden;
        cursor: pointer;
      }
    }

    .project-links {
      text-align: center;

      a {
        text-decoration: none;
        color: variables.$secondary;
        transition: variables.$transition-fast;
        padding-right: 30px;

        &:hover {
          color: variables.$accent;
        }
      }
    }
  }
}

@keyframes expand {
  from {
    max-height: 0;
  }

  to {
    max-height: 500px;
  }
}
