<h1 class="title is-size-2">Nick Cacace</h1>

<div class="">
  <div class="subtitle">
    Woodworker |
    <span class="accent">Software Engineer</span>
    | Cyclist
  </div>

  <div class="headshot-container">
    <img
      src="../../assets/headshot.jpg"
      alt="Profile Picture"
      class="img-fluid"
    />
  </div>

  <div class="columns">
    <div class="column is-half hello">
      <h2 class="is-size-3"><span class="accent">Hello</span> there!</h2>
      <div class="column">{{ landingText }}</div>
    </div>

    <div class="column is-half">
      <h2 class="is-size-3">Recent <span class="accent">work</span></h2>

      <div class="column">
        @for (project of recentWork; track project) {
          <app-project [project]="project"> </app-project>
        }

        <a routerLink="/projects"> more... </a>
      </div>
    </div>
  </div>
</div>
