@import '../variables';

.headshot-container {
  text-align: center;
  margin-bottom: 20px;

  img {
    border-radius: 60px;
    max-height:300px;
  }
}

.hello {
  border-right: 1px solid $primary;
}

.subtitle {
  text-align: center;
  padding: 10px;
}

.accent {
  color: $accent;
}
