@use '../variables';
@use '/node_modules/bulma/sass/utilities/initial-variables';

.headshot-container {
  text-align: center;
  margin-bottom: 20px;

  img {
    border-radius: 10px;
    max-height: 300px;
  }
}

.subtitle {
  text-align: center;
  padding: 10px;
}

.accent {
  color: variables.$accent;
  font-style: italic;
}

a {
  text-decoration: none;
  color: variables.$primary;
  transition: variables.$transition-fast;

  &:hover {
    color: variables.$accent;
  }
}

@media (min-width: initial-variables.$tablet) {
  .hello {
    border-right: 1px solid variables.$secondary-light;
    text-align: end;
  }
}
