<h1 class="title">Nick Cacace</h1>

<div class="col-xs-12 subtitle">
  Woodworker |
  <span class="accent">Software Engineer</span>
  | Cyclist
</div>

<div class="headshot-container col-xs-12">
  <img src="../../assets/headshot.jpg"
       alt="Profile Picture"
       class="img-fluid">
</div>

<div class="row">

  <div class="col-xs-12 col-md-6 hello">
    <h2><span class="accent">Hello</span> there!</h2>
    <p>{{ landingText }}</p>
  </div>

  <div class="col-xs-12 col-md-6">
    <h2>Recent <span class="accent">work</span></h2>

      <app-project *ngFor="let project of recentWork"
                   [project]="project">
      </app-project>

    <a routerLink="/projects">
      more...
    </a>
  </div>

</div>
